.header-wrapper {
    height: 60px;
    background-color: #eceded;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header-right-row {
    height: 60px;
    margin-right: 10px !important;
}
