.logout-wrapper {
    padding-left: 20px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-icon {
    font-size: 33px !important;
    color: #034ea2 !important;
}

.logout-link:hover {
    color: #b1bfca;
    text-decoration: none;
    opacity: 0.85;
}

.logout-link {
    color: inherit;
}