.profile-wrapper {
    padding-left: 20px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon {
    font-size: 33px !important;
    color: #034ea2 !important;
    margin-right: 8px;
    opacity: 1;
}

.profile-link:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.85;
}

.profile-link {
    color: inherit;
}
